html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #000;
  background-image: url("https://www.transparenttextures.com/patterns/office.png");
}

#page-wrapper {
  width: 600px;
  background: #fff;
  padding: 1em;
  margin: 1em auto;
  min-height: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}



table{
  width: 100%
}

.center{
 width: 100%;
 text-align: center;
}

/* File Input Button */
.input-file {
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 40px;
  border: none;
  background-color: #555;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.5);
  cursor: pointer;
  transition: background-color .3s ease;
}
.input-file:hover {
  background-color: #777;
}
.input-file [type = file] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.input-file label {
  color: #F1F1F1;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}

/* Stats */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.canvas{
    padding-top: 15px;
    padding-bottom: 15px;
}

.heading{
  color: #555;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  font-size: 45px;
  letter-spacing: 5px;
}


.headingNetflix{
  color: #E50914;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  font-size: 45px;
  letter-spacing: 5px;
}