* {
  font-family: 'Nunito', sans-serif;
}

.headingNetflix {
  color: #E50914;
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  letter-spacing: 5px;
}

.heading {
  color: #555;
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  letter-spacing: 5px;
}


#chartdiv {
  width: 50%;
  height: 500px;
  margin: auto;
}

input {
  display: none;
}

button {
  cursor: pointer;
  display: block;
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 20px;
  font-weight: $bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #F6F4F5;
}


table,
button {
  width: 50%;
  min-width: 600px;
  margin: 10px auto;
}


thead th {
  font-weight: 400;
  background: #808080;
  color: #FFF;
}

tr {
  background: #F6F4F5;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}


th,
td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}
